/* Variables */
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;

$fonts: "Courier New", Helvetica, sans-serif;

$standard-spacing: 30px;
$medium-spacing: 50px;
$border-width: 3px;

/* Theme map */

:root,
.theme-dark {
  --primary-color: #004643;
  --secondary-color: #66908e;
  --text-color: #e5ecec;
}

.theme-light {
  --primary-color: #e5ecec;
  --secondary-color: #7fa2a1;
  --text-color: #004643;
}

/* Styles */
body {
  font-family: $fonts;
  margin: 0;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 0px $standard-spacing;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;

  .settings {
    display: flex;
  }

  button {
    margin: 15px 0 15px 10px;
    max-height: 40px;

    .label {
      display: none;
    }
  }
}

main {
  display: inline-block;
  justify-content: space-between;
}

footer {
  display: flex;
  justify-content: center;
}

#content {
  padding-right: $standard-spacing;
}

#resources {
  display: block;
  min-width: 260px;
  margin-bottom: $standard-spacing;
  padding-bottom: $standard-spacing;
  height: fit-content;
  text-align: center;
  border: dashed 1px var(--secondary-color);
  border-radius: 4px;

  a {
    font-size: 15px;
  }
}

h2,
h3 {
  margin: $standard-spacing 0;
  text-decoration: underline;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

a {
  color: var(--text-color);
  font-weight: bolder;
  font-size: 20px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.published {
  font-size: 12px;
  font-style: italic;
}

hr {
  margin: $standard-spacing 0;
  border-top: dashed 1px var(--secondary-color);
  border-bottom: none;
}

.color-accent {
  color: var(--secondary-color);
}

button {
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 5px;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: $fonts;

  &.active-theme {
    border: 3px solid var(--secondary-color);
  }
}

/* Media queries */
@media (min-width: $breakpoint-tablet) {
  header {
    button {
      .label {
        padding-left: 5px;
        display: inline-flex;
      }
    }
  }

  main {
    display: inline-flex;
  }

  button {
    min-width: 100px;
  }

  footer {
    justify-content: flex-end;
  }
}
